<!doctype html>
<html ng-app="cloudseed">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->
    <title>CloudSeed</title>
    <!-- Styles -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css">


    <link rel="stylesheet" href="styles/style1.css">

    <!-- bootstrap scripts-->
    <script src="bower_components/jquery/dist/jquery.min.js"></script><!-- load jquery -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!--angular  -->
    <script src="bower_components/angular/angular.min.js"></script><!-- load angular -->
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <!-- controllers -->
    <script type="text/javascript" src="index.js"></script>
    <script type="text/javascript" src="scripts/controllers/login.js"></script>
    <script type="text/javascript" src="scripts/controllers/parts.js"></script>
    <script type="text/javascript" src="scripts/controllers/signup.js"></script>

    <link rel="icon" href="favicon.ico" />
    <link rel="shortcut icon" href="favicon.ico" />

  </head>
  <body ng-controller="PageController" style="padding-top: 70px;">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header navelement" style="margin-right:25px;" class="navelement">
          <a class="navbar-brand navelement" style="color:#000; padding:0px;" href="#/"><img src="CloudseedLogosmaller.png" alt="logo"></img></a>
        </div>
        <ul class="nav navbar-nav navelement">
          <li class="dropdown navelement" style="color:#000;" ng-if="loggedin()">
            <a href="#/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              Load
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation" ng-repeat="stack in stacks" ng-click="loadTemplate(stack.Name)">
                <a role="menuitem" tabindex="{{$index}}" href="#/">
                  {{stack.Name}}
                </a>
              </li>
            </ul>
          </li>
          <li class="dropdown navelement" style="color:#000;" ng-if="loggedin()">
            <a href="#/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              Build
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation" ng-repeat="stack in (stacks | filter:{Ready:true})" ng-click="buildTemplate(stack.Name)">
                <a role="menuitem" tabindex="{{$index}}" href="#/">
                  {{stack.Name}}
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <a class="navbar-text navbar-right" style="color:#000; padding-right:10px;" ng-click="logOut()" ng-show="loggedin()">Log Out</a>
        <p class="navbar-text navbar-right" style="color:#000; padding-right:10px;" ng-show="loggedin()">Signed in as <a href="#/" class="navbar-link">{{user.email}}</a></p>
      </div>
    </nav>
    <!--CONTENT-->
    <div ng-view class="view" style="padding-bottom:75px;"></div>
    <!--       -->

  </body>
</html>
