{
  "DB":{
    "Type": "mongo",
    "Host" : "localhost",
    "Port": 27017,
    "Database": "cloudseed"
  },
  "STACKREPO": "/path/to/Stacks/folder",
  "APIHost": "https://cloudseed.yourdomain.com",
  "EmailAccount": "CloudSeed@yourdomain.com"
}
