{
  "DB":{
    "Type": "mongo",
    "Host" : "localhost",
    "Port": 27017,
    "Database": "cloudseed"
  },
  "AmazonCreds":{
    //This object is only needed if you do not have the box created using an IAM role
    "AccessKey": "f4k3k3y5ftw",
    "SecretKey": "THISISCLEARLYAFAKEKEY"
  },
  "STACKREPO": "/path/to/Stacks/folder",
  "APIHost": "https://cloudseed.yourdomain.com",
  "EmailAccount": "CloudSeed@yourdomain.com"
}
