.ddl-active{
  background-color:#4caf50;
}
.ddl-active:hover{
  background-color:#59b75c;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
.selector-dropdown>.selector-optgroup{
  background: #ECECEC;
}

.aselector-disabled{
  background-color: #c7c7c7 !important;
  background-image: -webkit-linear-gradient(#c7c7c7, #d5d5d5) !important;
  background-image:    -moz-linear-gradient(#c7c7c7, #d5d5d5) !important;
  background-image:      -o-linear-gradient(#c7c7c7, #d5d5d5) !important;
  background-image:         linear-gradient(#c7c7c7, #d5d5d5) !important;
}
