#stage{
  min-height:300px;
  margin-bottom:200px;
}

.pointer{
  cursor:pointer;
}

.ddl-active{
  background-color:#4caf50;
}

.ddl-active:hover{
  background-color:#59b75c;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.selector-dropdown>.selector-optgroup{
  background: #ECECEC;
}

.selector-container.disabled{
  opacity: 0.3 !important;
}

.selector-container.disabled>label{
  cursor: not-allowed !important;
}

.selector-container>.selector-dropdown{
  margin-bottom:25px !important;
}
