body{
  padding-top:65px;
  background-color: #D5CCCC;
}
/***NAVBAR****/


@media (min-width: 768px)
.navbar-right {
  float: right!important;
  margin-right: 15px;
}
a.navbar-text.navbar-right {
  text-decoration: none !important;
  padding: 28px 10px 28px 10px !important;
  margin: 0 !important;
    color: #FFF !important;
}
a.navbar-text.navbar-right:hover {
  background-color: #BBDEFB;
  color: #2196F3 !important;
}
nav.navbar.navbar-default.navbar-fixed-top .container-fluid {
  height: 75px;
}
.nav-stacked>li+li {
  margin-top: 5px;
  margin-left: 0;
}
.navbar-nav>li {
  float: left;
  height: 77px;
}

ul.nav.navbar-nav.navelement {
  height: 75px;
}

.navbar-nav>li>a {
  padding-top: 28px;
  padding-bottom: 28px;
}

.navbar-text {
  margin-top: 28px;
  margin-bottom: 28px;
}

.navbar-brand>img {
  display: block;
  height: 76px;
  padding: 15px;
}

.navbar-default {
  background-color: #2196F3 !important;
  background-image: none !important;

}

.navbar-default .navbar-nav>li>a {
  color: #FFF;
  font-size: 17px;
}

.navbar-default .navbar-link {
  color: #BBDEFB;
}

.dropdown-menu>li>a:hover {
  background-color: #2196F3;
  background-image: none;
  /* padding-bottom: 5px; */
}
/****BUTTONS***/
.glyphicon-remove:active {
  color: #F00;
}
.glyphicon-remove {
  color: rgb(243, 177, 33) !important;
  padding-right: 5px !important;
  padding: 5px;
  border-radius: 20px;
  background: #fff;
}

.btn-default[disabled] {
  background-color: #E2F1FD;
  background-image: none;
  margin-bottom: 15px;
  color: #ABABAB;
}

.panel-default>.panel-heading {
  color: #fff;
  background-color: #2196F3 !important;
  background-image: none !important
}

.btn-default:focus, .btn-default:hover {
  background-color: #CCE5FA !important;
  background-position: 0 -15px;
}
.open>.dropdown-toggle.btn-default {
  color: #5A5A5A;
  background-color: #CCE5FA !important;
  border-color: #BBDEFB !important;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #90C9F5;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #FFFFFF;
  text-align: center;
  background-color: #2196F3;
  border: 1px solid #2196F3;
  border-radius: 4px;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #FDFDFD;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.btn:hover {
  color: #FFF;
  text-decoration: none;
  background-color: #2196F3;
}
a#login, a#signup {
  margin: 0px 10px 0px 10px;
  padding: 5px 35px;
  border-radius: 4px !important;
}

.btn-primary:focus {
  background-color: #90C9F5;
  background-position: 0 -15px;
}

.btn:focus {
 text-decoration: none;
 outline: none;
}
.btn:active:focus, .btn:focus {
 outline: none;
}
span.glyphicon.glyphicon-plus {
  color: rgb(243, 177, 33) !important;
}

.btn-default, .btn-info, .btn-primary, .btn-success, .btn-warning {
  text-shadow: none;
  -webkit-box-shadow: none;
  background-color: #90C9F5;
  color: #FFFFFF;
  border-color: #2196F3;
  border-radius: 0px !important;
  border: 1px solid #90C9F5 !important;
}

td button {
  background: none;
  border: none;
  padding-top: 7px;
  padding-left: 28px;
}

span.glyphicon.glyphicon-remove:hover {
  color: #DA2A2A !important;
}

span.glyphicon.glyphicon-plus:hover {
  color: #5CA65A !important;
}

.navbar-default .navbar-nav>.open>a {
  background-color: #BBDEFB;
  background-image: none !important;
  color: #2196F3;
  box-shadow: none !important;
}

p.navbar-text.navbar-right {
  color: #fff !important;
}

.navbar-default .navbar-nav>.open>a:focus{
color: #FFF;
background-color: #BBDEFB;
background-image: none !important;
color: #2196F3;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 0px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #FDFDFD;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(253, 253, 253, 1);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  border-right: 1px solid #2196F3;
border-left: 1px #2196F3 solid;
  box-shadow: 0px 0px 0px 0px rgba(204, 228, 247, 1);
  border-bottom: 3px solid #2196F3;
}

.btn:focus:hover {
  outline: none;
  border-left: 1px solid #2196F3;
  border-top: 1px solid #2196F3;
  border-bottom: 1px solid #2196F3;
}

.btn.active, .btn:active {
  background-image: none;
  background-color: #2196F3;
    box-shadow: none;
}

.panel-default {
  border-color: #90C9F5;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #BBDEFB;
}

.table-bordered {
  border-top: 5px solid #2196F3;
  border-radius: 4px;
  border-left: 1px solid #BBDEFB;
  border-bottom: 1px solid #BBDEFB;
    border-right: 1px solid #bbdefb;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  border-right: 1px solid #BBDEFB;
   margin: 8px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: none;
  border-right: 1px solid #BBDEFB;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  border: 1px solid #BBDEFB;
}
.table-bordered>tbody>tr>th{
  border-bottom: 1px solid #BBDEFB;
  text-align: center;
  color: #0D47A1;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #BBDEFB;
}

.input-group.ng-scope {
  margin: 5px 0 0 0;
}

.btn-default:hover {
  background-color: #CCE5FA !important;
  background-position: 0 -15px;
  color: #2196F3;
}
/*****TEXT****/

.navbar-default .navbar-link:hover {
  color: #F7CA84;
  text-decoration: none;
}

.jumbotron .h1, .jumbotron h1 {
  color: #0D47A1;
}

.h4, h4 {
  font-size: 18px;
  text-align: center;
    color: #0D47A1;
  margin-bottom: 25px;
}

.navbar-nav>li>a {
  text-shadow: none;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #2196F3;
  background-color: rgb(187, 222, 251);
}

/****JUMBOTRON*****/
.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #FFF;
  box-shadow: 0px 0px 6px 0px #8AC2EF;
}

/***PICKER****/

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 95% !important;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #BBDEFB;
  border: none;
  border-radius: 4px;
  background-image: none !important;
  -webkit-box-shadow:none !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
/***PAGE****/
[ng-click], [data-ng-click], [x-ng-click] {
    cursor: pointer;
}
div#page {
  margin-top: 25px;
}

.sidebar{
  min-width:250px;
  float:left;
  display:inline;
}

.navelement{
  display: inline;
  float:left;
}

#stage{
  padding-left:10px;
  float:left;
  width:80%;

}
.partbutton{
  width:100%;
  min-height:40px;
  padding-top:0px;
  padding-bottom:0px;
  padding-left:5px;
  margin-top:0px;
  margin-bottom:0px;
  text-align:left;
}

.ddl-active{
  background-color:#4caf50;
}
.ddl-active:hover{
  background-color:#59b75c;
}
