<div class="container content">
  <div class="row">
    <div class="col-md-4">&nbsp;</div>
    <div class="col-md-4">
      <div class="form-group container-fluid">
        <h3>Sign up</h3>
        <form class="simple-form" name="loginform" novalidate>
          <div class="input-group form-group" ng-class="{'has-error': (loginform.email.$invalid && loginform.email.$dirty)}">
            <span class="input-group-addon" id="EmailAddress" style="text-align:left; min-width:100px;"><b>Email</b></span>
            <input type="email" class="form-control" placeholder="Email" name="email" ng-model="auth.email" required />
          </div>
          <div class="input-group form-group" ng-class="{'has-error': (loginform.password.$invalid && loginform.password.$dirty)}">
            <span class="input-group-addon" id="Password" style="text-align:left; min-width:100px;"><b>Password</b></span>
            <input type="password" class="form-control" placeholder="Password" name="password" ng-pattern="/\S{8,}/i" ng-model="auth.password" required />
          </div>
          <div class="input-group form-group" ng-class="{'has-error': (loginform.Password2.$invalid && loginform.Password2.$dirty)}">
            <span class="input-group-addon" id="confirmpassword" style="text-align:left; min-width:100px;"><b>Confirm</b></span>
            <input type="password" class="form-control" placeholder="Password again" name="Password2" ng-model="auth.password2" compare-to="auth.password" required/>
          </div>
          <div class="input-group form-group" ng-class="{'has-error': (loginform.AccessKey.$invalid && loginform.AccessKey.$dirty)}">
            <span class="input-group-addon" id="accesskey" style="text-align:left; min-width:100px;"><b>AWS Key</b></span>
            <input type="password" class="form-control" placeholder="AWS Access Key" name="AccessKey" ng-model="auth.accesskey" pattern="[A-Z0-9]{20}" required/>
          </div>
          <div class="input-group form-group" ng-class="{'has-error': (loginform.SecretKey.$invalid && loginform.SecretKey.$dirty)}">
            <span class="input-group-addon" id="secretkey" style="text-align:left; min-width:100px;"><b>Secret Key</b></span>
            <input type="password" class="form-control" placeholder="AWS Secret Key" name="SecretKey" ng-model="auth.secretkey" pattern="[A-Za-z0-9+\-\\/]{40}" required/>
          </div>
        </form>
        <a href="#/login"><em>Already a member? Log in instead</em></a>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="signup()" ng-disabled="loginform.$invalid">Sign up</button>
        <br />
        <div class="alert alert-dismissible" role="alert" ng-if="signupResult" ng-class="{'alert-danger': !signupResult.Success, 'alert-success': signupResult.Success}">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>{{signupResult.Message}}</strong>
        </div>
      </div>
    </div>
    <div class="col-md-4">&nbsp;</div>
  </div>
</div>
