<div class="jumbotron jumbotron-material-grey" style="text-align:center; min-width:450px;">
  <h1>Welcome to CloudSeed!</h1>
  <p>Building a cloudformation stack is now as easy as clicking buttons.</p>
  <div class="row">
    <div class="col-xs-2">&nbsp;</div>
    <div class="col-xs-8" align="center">
      <a class="btn btn-primary with-ripple" href="#/login" ng-hide="authentication">Log In</a>
      <a class="btn btn-info with-ripple" href="#/signup" ng-hide="authentication">Sign Up</a>
    </div>
    <div class="col-xs-2">&nbsp;</div>
  </div>
</div>
