<!doctype html>
<html ng-app="cloudseed">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->
    <title>CloudSeed</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body>
    <div ng-controller="PartsController">
      <ul ng-repeat="part in parts">
        <li>{{part.Type}}</li>
      </ul>
    </div>

  </body>
</html>
