<!doctype html>
<html ng-app="cloudseed">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->
    <title>CloudSeed</title>
    <!-- Styles -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/material.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/ripples.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/roboto.min.css">
    <link rel="stylesheet" href="styles.css">

    <!-- bootstrap scripts-->
    <script src="bower_components/jquery/dist/jquery.min.js"></script><!-- load jquery -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/bootstrap-material-design/dist/js/material.min.js"></script>
    <script src="bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>
    <!--angular  -->
    <script src="bower_components/angular/angular.min.js"></script><!-- load angular -->
    <!-- controllers -->
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-controller="PageController" style="padding-top: 70px;">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <button type="button" class="btn btn-lg navbar-btn navbar-left" ng-click="toggleSide()">
            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn navbar-btn navbar-left" ng-click="tb=1">
            <span>Test</span>
        </button>
      </div>
    </nav>
    <div class="container-fluid" id="page" ng-controller="PartsController">
      <div class="well-material-grey sidebar"  ng-show="showSide">
        <ul class="nav nav-stacked">
          <li role="prensentation"><h4>Add a Part</h4></li>
          <li ng-repeat="part in parts | orderBy: 'Type'" role="presentation">
            <button class="btn navbar-btn" ng-click="addPart(part.Type)">{{part.Type}}</button>
          </li>
        </ul>
      </div>
      <div id="stage">
        <h1>Hello!</h1>
        <div ng-repeat="apart in addedParts track by $index">
          <h3>
            <span class="glyphicon glyphicon-remove" style="color:red; padding-right:10px;" ng-click="removePart(apart.LogicalName)"></span>
            {{apart.LogicalName}}
          </h3>
          <!--
          <div ng-repeat="(key, value) in apart.Definition.Parameters">
            <form>
              <p class="paramTitle"><b>{{key}}</b> - {{value.Description}}</p>
              <input type="text" class="form-control paraminput" placeholder="{{key}}" ng-hide="value.AllowedValues.length">
              <div class="dropdown" ng-show="value.AllowedValues.length">
                <button class="btn btn-default dropdown-toggle" type="button" id="valueddl" data-toggle="dropdown" aria-expanded="true">
                  AllowedValues
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation" ng-repeat="av in value.AllowedValues">
                    <a role="menuitem" tabindex="{{$index}}" href="#" >{{av}}</a>
                  </li>
                </ul>
              </div>
            </form>
          </div>
        -->
        </div>
      </div>
    </div>

  </body>
</html>
