<!doctype html>
<html ng-app="cloudseed">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->
    <title>CloudSeed</title>
    <!-- Styles -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/material.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/ripples.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/roboto.min.css">
    <link rel="stylesheet" href="styles.css">

    <!-- bootstrap scripts-->
    <script src="bower_components/jquery/dist/jquery.min.js"></script><!-- load jquery -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/bootstrap-material-design/dist/js/material.min.js"></script>
    <script src="bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>
    <!--angular  -->
    <script src="bower_components/angular/angular.min.js"></script><!-- load angular -->
    <!-- controllers -->
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-controller="PageController" style="padding-top: 70px;">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <button type="button" class="btn btn-lg navbar-btn navbar-left" ng-click="toggleSide()">
            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn navbar-btn navbar-left" ng-click="tb=1">
            <span>Test</span>
        </button>
      </div>
    </nav>
    <div class="container-fluid" id="page" ng-controller="PartsController">
      <div class="well-material-grey sidebar well"  ng-show="showSide">
        <ul class="nav nav-stacked">
          <li role="prensentation"><h4>Add a Part</h4></li>
          <li ng-repeat="part in parts | orderBy: 'Type'" role="presentation">

            <button class="btn navbar-btn partbutton" ng-click="addPart(part.Type)">
              <span class="glyphicon glyphicon-plus" style="color:green;padding-right:10px;"></span>{{part.Type}}
            </button>
          </li>
        </ul>
      </div>
      <div id="stage">
        <form name="PartsForm" novalidate>
          <!--
          <div id="TemplateInfo">
          </div>
        -->
          <h1>Parts</h1>
          <button class="btn btn-lg" ng-show="addedParts.length > 0 && PartsForm.$valid" ng-click="buildStack()">Build</button>
          <div ng-repeat="apart in addedParts track by $index" class="panel panel-default partpanel">
            <div class="panel-heading" ng-click="apart.Collapsed = !apart.Collapsed">
                <span class="glyphicon glyphicon-remove" style="color:red; padding-right:10px;" ng-click="removePart(apart.LogicalName)"></span>
                <h3 style="display:inline;">{{apart.LogicalName}}</h3>
                <span class="glyphicon glyphicon-triangle-bottom" style="font-size:10pt; float:right;" ng-show="apart.Collapsed"></span>
                <span class="glyphicon glyphicon-triangle-top" style="font-size:10pt; float:right;" ng-hide="apart.Collapsed"></span>
            </div>
            <div class="panel-body" ng-hide="apart.Collapsed">
              <div ng-repeat="(key, value) in apart.Definition.Parameters" class="input-group" ng-hide="value.Hidden">
                  <span class="input-group-addon" id="{{key}}-Title" style="min-width:175px; text-align:left;"><b>{{key}}</b></span>
                  <input type="text" class="form-control" placeholder="{{value.Description}}" aria-describedby="{{key}}-Title"
                    ng-hide="value.AllowedValues.length" ng-model="apart.Definition.Parameters[key].Value" ng-required="!value.Hidden && !value.Default.length && !value.AllowedValues.length">
                  <select class="selectpicker form-control" title="{{value.Description}}"
                    ng-show="value.AllowedValues.length" ng-model="apart.Definition.Parameters[key].Value" ng-required="!value.Hidden && !value.Default.length && value.AllowedValues.length">
                    <option ng-repeat="av in value.AllowedValues">{{av}}</option>
                  </select>
              </div>

              <div class="panel-footer"  ng-show="apart.Definition.Connections.Substitutes.length && !apart.Collapsed">
                <h4>Substitutions</h4>
                <table>
                  <tr ng-repeat="sub in apart.Definition.Connections.Substitutes track by $index">
                    <td><p style="min-width:175px; text-align:left;"><b>{{sub.Parameter}}</b></p></td>
                    <td><div class="dropdown" ng-init="RefInit(sub)">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{sub.Reference}}<span class="caret"></span></button>
                      <ul class="dropdown-menu dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setParam(apart, sub, 'None')">None</a></li>
                        <li role="presentation"><a role="menuitem" ng-repeat="name in getSubs(sub.Type)" ng-click="setParam(apart, sub, name)">{{name}}</a></li>
                      </ul>
                    </div></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
