body{
  padding-top:65px;
}

.sidebar{
  width:250px;
  float:left;
}

#stage{
  padding-left:10px;
  float:left;
}

.paramTitle{
  padding-left: 50px;
}
.paramInput{
  padding-left:50px;
}

[ng-click], [data-ng-click], [x-ng-click] {
    cursor: pointer;
}
